body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

#map-canvas {
	height: 500px;
	width: 800px;
	margin: 0px auto;
	padding: 0px;
}

header,
.about-section,
.services-section,
.contact-section,
.form-section
.accr-section
{
	text-align: center;
}

header{
	height: 100%;
	margin-top: -60px;
}

.about-section {
	background: #eee;
}

.services-section {
	background: #fff;
}

.contact-section {
	background: #eee;
}

.accr-section {
	background: #eee;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
											}
