body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

head,
.about-section,
.services-section,
.contact-section,
.accr-section{
	height: 100%;
	padding-top: 150px;
	text-align: center;
}

head{
	background: #fff;
}

.about-section {
	background: #eee;
}

.services-section {
	background: #fff;
}

.contact-section {
	background: #eee;
}

.accr-section {
	background: #eee;
}
