body {
	width: 100%;
	height: 100%;
}


html {
	width: 100%;
	height: 100%;
}

#map {
	padding: 150px 0;
	background-color: #999999;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0px);
}

#map-canvas {
	height: 500px;
	margin: 0px auto;
	padding: 0px;
}

@media(max-width:568px){
	#map-canvas{
		height:200px;
	}
}

header,
.about-section,
.services-section,
.contact-section,
.form-section
.accr-section
{
	text-align: center;
}

header{
	height: 100%;
	margin-top: -60px;
}

.about-section {
	background: #eee;
}

.services-section {
	background: #f8f8f8;
}

.contact-section {
	background: #eee;
}

.accr-section {
	background: #fff;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

	p.subtitles{
	font-size:20px;	
}

.service{
	background-color: white;
	display: block;
	text-decoration: none;
	float: left;
	margin-right: 10px;
	margin-bottom: 50px;
}


@media(max-width:568px){

}

.claim{
	text-align: center;
	margin: 30px;
	border-radius: 5px;	
}

.text-left{
	text-align: left;
}


.img-container{
	
}
